# Pamela's Pandas Filtering Help

### CSV reads and filter
### Exporting data

In [1]:
import os
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
os.getcwd()

'C:\\Users\\edwar\\Documents\\Python Scripts\\Pandas_for_work\\Jupiter'

In [3]:
df_a_unique = pd.read_csv('../Data/A_unique.csv',index_col=0, low_memory=False)
df_b_unique = pd.read_csv('../Data/B_unique.csv',index_col=0, low_memory=False)

In [4]:
df_b_unique.head()

Empty DataFrame
Columns: []
Index: [1, 2, 4, 6, 10]

In [5]:
len(df_a_unique.index)

74

In [6]:
len(df_b_unique.index)

65

In [7]:
filtera = df_a_unique.index.isin(df_b_unique.index)
filterb = df_b_unique.index.isin(df_a_unique.index)

In [8]:
filtera

array([False, False,  True,  True, False,  True,  True,  True,  True,
        True,  True, False,  True, False,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True, False,  True, False,
       False,  True,  True, False,  True, False,  True, False,  True,
        True, False,  True, False, False,  True,  True, False, False,
        True,  True])

In [9]:
df_matching_a = df_a_unique[filtera]
df_matching_b = df_b_unique[filterb]

In [10]:
df_matching_a.head()

Empty DataFrame
Columns: []
Index: [60, 34, 45, 99, 57]

In [11]:
df_matching_b.head()

Empty DataFrame
Columns: []
Index: [1, 2, 4, 6, 10]

In [12]:
not_matching_list_a = df_a_unique.index.difference(df_b_unique.index)
not_matching_list_b = df_b_unique.index.difference(df_a_unique.index)

In [13]:
not_matching_list_a

Int64Index([ 3,  5,  8,  9, 12, 16, 19, 20, 21, 24, 32, 43, 47, 52, 53, 54, 70,
            74, 81, 83, 85, 90, 96, 98],
           dtype='int64')

In [14]:
not_matching_list_b

Int64Index([14, 18, 25, 40, 44, 46, 49, 50, 56, 58, 61, 76, 79, 86, 87], dtype='int64')

In [15]:
len(not_matching_list_a)

24

In [16]:
len(not_matching_list_b)

15

In [17]:
df_not_matching_a = DataFrame(data=not_matching_list_a, columns=['SEQ_A'])
df_not_matching_b = DataFrame(data=not_matching_list_b, columns=['SEQ_B'])

In [18]:
df_not_matching_a

    SEQ_A
0       3
1       5
2       8
3       9
4      12
5      16
6      19
7      20
8      21
9      24
10     32
11     43
12     47
13     52
14     53
15     54
16     70
17     74
18     81
19     83
20     85
21     90
22     96
23     98

In [19]:
df_not_matching_a.set_index('SEQ_A', inplace=True)

In [20]:
df_not_matching_b.set_index('SEQ_B', inplace=True)

In [21]:
df_not_matching_a.to_csv('../Data/not_matching_list_a.csv')
df_not_matching_b.to_csv('../Data/not_matching_list_b.csv')
df_matching_a.to_csv('../Data/matching_list_a.csv')
df_matching_b.to_csv('../Data/matching_list_b.csv')